{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block content %}
    <h2 class="mb-4">Liste des films</h2>

    {% if films is empty %}
        <p class="alert alert-warning">Aucun film disponible pour le moment.</p>
    {% else %}
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Année</th>
                    <th>Type</th>
                    <th>Réalisateur</th>
                    <th>Synopsis</th>
                    <th>Ajouté le</th>
                    <th>Modifié le</th>
                </tr>
            </thead>
            <tbody>
                {% for film in films %}
                    {{ dump(film) }}
                    <tr>
                        <td>{{ film.id }}</td>
                        <td>{{ film.title }}</td>
                        <td>{{ film.year }}</td>
                        <td>{{ film.type }}</td>
                        <td>{{ film.director }}</td>
                        <td>{{ film.synopsis }}</td>
                        <td>{{ film.createdAt.format('d/m/Y H:i') }}</td>
                        <td>{{ film.updatedAt.format('d/m/Y H:i') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
