{% extends 'base.html.twig' %}

{% block title %}Détails du film{% endblock %}

{% block content %}
    <h2 class="mb-4">
        <i class="fas fa-film" aria-hidden="true"></i> {{ film.title }}
    </h2>

    <ul class="list-group">
        <li class="list-group-item"><strong>Année :</strong> {{ film.year }}</li>
        <li class="list-group-item"><strong>Type :</strong> {{ film.type }}</li>
        <li class="list-group-item"><strong>Réalisateur :</strong> {{ film.director }}</li>
        <li class="list-group-item"><strong>Synopsis :</strong> {{ film.synopsis }}</li>
        <li class="list-group-item"><strong>Ajouté le :</strong> {{ film.createdAt.format('d/m/Y H:i') }}</li>
        <li class="list-group-item"><strong>Modifié le :</strong> {{ film.updatedAt.format('d/m/Y H:i') }}</li>
    </ul>

    <a href="/film/list" class="btn btn-secondary mt-4">Retour à la liste</a>
{% endblock %}
